body {
  font-family: Arial, sans-serif;
  background-image: url("background.jpg"); background-attachment: fixed; background-size: cover;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 50px auto;
  padding: 20px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

.containcred {
  max-width: 288px;
  margin: 0px auto;
  padding: 5px;
  background: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

h1 {
  text-align: center;
  color: #333;
}

p {
  text-align: center;
  color: #666;
}

.category {
  margin: 20px 0;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
  color: #333;
}

input[type="range"] {
  width: 100%;
  accent-color: #ff3e00;
}

span {
  font-weight: bold;
}

#remaining-budget {
  margin-top: 20px;
  text-align: center;
  font-size: 18px;
  font-weight: bold;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

.hidden {
  display: none;
}

#feedback {
  margin-top: 20px;
  padding: 15px;
  background-color: #f8f9fa;
  border: 1px solid #ddd;
  border-radius: 5px;
}
